<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
<h1 style="margin: 0px; padding-top: 20px">Mã vận đơn: <%= @vandon.id %></h1>
<li><%= link_to "In vận đơn",  print_nhanvien_vandon_path(@vandon) , class: 'btn btn-success' %></li>
<li></li>
<li><%= link_to "Chỉnh sửa", edit_nhanvien_vandon_path(@vandon),
class: "edit" %></li>

<!-- <li><%= link_to "Xóa", nhanvien_vandon_path(@vandon),method: :delete,data: { confirm: "Are you sure you want to delete this table?" },class: "delete" %></li> -->
<li><%= link_to "Trở về",
                nhanvien_vandons_path, class: "cancel" %></li>

<table id="attributes">
<tr>
<th>Người lập:</th>
<td> <%= @vandon.nguoilap.hoten %> </td>
</tr>
<tr>
<th>Ngày lập:</th>
<td><%= @vandon.created_at %> </td>
</tr>

</table>


<div class= "row"> 
 <div class ="col-md-4">
          <div class="panel panel-info">
                <div class="panel-heading">
                  <strong>1. Thông tin người nhận</strong></div>
            <div class="panel-body">
            <% if   @vandon.nguoinhans.blank? %>
            <div><%= link_to "Tạo người nhận", new_nhanvien_vandon_nguoinhan_path(@vandon), class: "new" %></div>
            <% end %>

            <% @vandon.nguoinhans.each do |nguoinhan| %>
            <div> Họ tên người nhận: <%= link_to nguoinhan.hotennn, [:nhanvien,@vandon, nguoinhan] %></div>
            <div>SĐT: <%= nguoinhan.sodtnn %></div>
            <div>Địa chỉ: <%= nguoinhan.address %></div>
            <div>Thành phố: <%= nguoinhan.sub_state %><%= nguoinhan.province %></div>
            <!-- <div>
            <%= link_to "Edit", [:edit, @vandon, @nguoinhan],
            class: "edit" %>
              <% nhanviens_only do %>
            <%= link_to "Delete", [@vandon, @nguoinhan], method: :delete,
            data: { confirm: "Bạn có chắc chắn xóa không"},
            class: "delete" %>
             <% end %>
            </div> -->
             </div>
              <% end %>
         </div>
  </div>

 
  <div class ="col-md-4">
 
<div class="panel panel-info">
    <div class="panel-heading">
      <strong>2. Thông tin khách hàng</strong>
      </div>
      <% if @vandon.khachhangs.blank? %>
      <%= link_to "Tạo khách hàng", new_nhanvien_vandon_khachhang_path(@vandon), class: "new" %>
      <% end %>
    


      <div class="panel-body">
      <% @vandon.khachhangs.each do |khachhang| %>
      <div><label>Họ tên KH:</label>
      <%= link_to khachhang.hotenkh, [:nhanvien,@vandon, khachhang] %></div>
      <div><label>Số điện thoại: </label><%= khachhang.sodt %></div>
      <div><label>Địa chỉ: </label><%= khachhang.address %></div>
     <!--  <%= link_to "Edit", [:edit, @vandon, @khachhang],
      class: "edit" %>


      <% nhanviens_only do %>
      <%= link_to "Delete", [@vandon, @khachhang], method: :delete,
      data: { confirm: "Bạn có chắc chắn xóa không"},
      class: "delete" %>
                            <% end %>
 -->
      <% end %>
      </div>
  
  </div>
  </div>


  <div class="col-md-4">
 <div class="panel panel-info">
        <div class="panel-heading">
    <strong>3. Thông tin hàng hóa </strong></div>
         
          <div class="panel-body">
          <% if @vandon.hanghoas.blank? %> 
          <%= link_to "Thêm mới hàng hóa", new_nhanvien_vandon_hanghoa_path(@vandon), class: "new" %>
          <% end %> 
          
         
            <% @vandon.hanghoas.each do |hanghoa| %>
            <div><label> Id: </label><%= link_to hanghoa.id, [:nhanvien,@vandon, hanghoa] %></div>

            <div><label> Trạng thái: </label><%= hanghoa.state_id if hanghoa.state_id %></div>
          
            <div><label> Trọng lượng tịnh: </label><%= hanghoa.trongluongtinh %></div>
           
            <div><label> Cước chính: </label><%= hanghoa.cuocchinh %></div>
           
            <div><label> Cước phụ: </label><%= hanghoa.cuocphu %></div>

            <div><label> Tổng cước: </label><%= hanghoa.tongcuoc %></div>
              <% end %> 
         
  </div>
</div>
</div>