

  <title>Tỉnh</title>
<div class="row">
<h1 style="margin: 0px; padding-top: 20px" class="text-center" >DANH SÁCH TỈNH - THÀNH PHỐ</h1>
</div>
<div class="row ">
<div class="col-md-8"></div>
<div class="col-md-4">
<%= link_to "Thêm mới", new_admin_tinh_path, class: "new " %>

</div>
</div>
  <table  class="table table-striped">
  <thead>
    <tr>
      <th style="width: 20%">Tỉnh</th>
       <th style="width: 10%">Vùng</th>
      <th  style="width: 30%"><center>  Tác vụ </center> </th>
       
    </tr>
  </thead>
  <tbody>

<% @tinhs.each do |tinh| %>
<tr>

  <td><%= link_to tinh.tentinh, tinh %></td>

  <td><%=  tinh.vung_id %></td>

 <td><center>
  <%= link_to  "Xem", admin_tinh_path(tinh), class: "xem" %>


  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_admin_tinh_path(tinh), class: "edit" %>

   <%= link_to "Xóa", admin_tinh_path(tinh),method: :delete,data: { confirm: "Bạn có chắc chắn muốn xóa không?" },class: "delete" %>
     
   </center>
  </td>


</tr>

<% end %>
</tbody>
</table>
</div>

