
<head>
  <title>Định mức phí thu hộ</title>
</head>
<div class="row">
  <div class="col-md-8"><h1>Định mức phí thu hộ</h1></div>
<div class="col-md-4", style="padding-top: 20px"><%= link_to "Thêm mới",new_admin_mucphithuho_path, class: "new" %>
</div>
</div>
<div>
<table class="table table-bordred table-striped"">
  <thead>
    <tr>
      <th>Số tiền thu hộ</th>
      <th>Từ </th>
      <th>Đến</th>
      <th>Mức phí</th>
     <!--  <th> </th> -->
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @mucphithuhos.each do |mucphithuho| %>
<tr>
<td><%= link_to mucphithuho.tenmp, mucphithuho %></td>
<td><%= mucphithuho.gtbd %></td>
<td><%= mucphithuho.gtkt %></td>
<td><%= mucphithuho.mucphi %></td>
<!-- <td>
<%= link_to t('.show', :default => t("helpers.links.show")),
                      mucphithuho_path(mucphithuho), class: "show" %></td> -->
<td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_mucphithuho_path(mucphithuho), class: "edit" %></td>

<td>

<td><%= link_to "Xóa", admin_mucphithuho_path(mucphithuho),method: :delete,data: { confirm: "Bạn có chắc chắn muốn xóa không?" },class: "delete" %></td>

</td>
</tr>
<% end %>
</tbody>
</table>
</div>
