


<div id="hanghoa">
<header>
<h1><%= @vandon.id %></h1>

</header>
<header>
<ul class="actions">
<li><%= link_to "Edit", [:edit, @vandon, @hanghoa],
class: "edit" %></li>

<li><%= link_to "Delete", [@vandon, @hanghoa], method: :delete,
data: { confirm: "Bạn có chắc chắn xóa không"},
class: "delete" %></li>
<li> <%= cancel_link %> </li>
</ul>
<!-- <h2>Trọng lượng tịnh: <%= @hanghoa.trongluongtinh %></h2> -->
</header>

      <% @vandon.hanghoas.each do |hanghoa| %>
      <div><label> Id: </label><%= link_to hanghoa.id, [@vandon, hanghoa] %></div>
	    <% if @hanghoa.state_id.present? %>

		<div><label>Trạng thái: </label>
		<%= @comment.state.name %></div>

	<% end %>
      <div><label> Trọng lượng tịnh: </label><%= hanghoa.trongluongtinh %></div>
     
      <div><label> Cước chính: </label><%= hanghoa.cuocchinh %></div>
     
      <div><label> Cước phụ: </label><%= hanghoa.cuocphu %></div>

      <div><label> Tổng cước: </label><%= hanghoa.tongcuoc %></div>

<% end %>

</div>
<header>

<h3> Thông tin trạng thái</h3>
</header>
<div id="comments">
<% if @hanghoa.comments.persisted.any? %>
<%= render @hanghoa.comments.persisted %>
<% else %>
<p>Không có thông tin nào.</p>
<% end %>
</div>
<table>


</tr>
</table>
<% if policy(@comment).create? %>
<%= render "comments/form",  hanghoa: @hanghoa, comment: @comment %>
<% end %>
<script type="text/javascript">
var hanghoa_id=<%= @hanghoa.id %>
		$("#comment_state_id").on('change', function(){
	    $.ajax({
	    	url: "/home/guiSMS", 
	    	data:{
	    		hanghoa_id : hanghoa_id,
	    		 state_id : $("#comment_state_id").val()
	    	},
	    	success: function(data){ 

	        	alert(data.id)
	    	},
	    	error: function (ajaxContext) {
		        alert(ajaxContext.responseText)
		    }
		});
	});
</script>