<div id="hanghoa">
<header>
<h1><%= @vandon.id %></h1>
</header>
<header>
<!-- <h2>Trọng lượng tịnh: <%= @hanghoa.trongluongtinh %></h2> -->
</header>

      <% @vandon.hanghoas.each do |hanghoa| %>
      <div><label> Id: </label><%= link_to hanghoa.id, [@vandon, hanghoa] %></div>

      <div><label> Trạng thái: </label>
     
      <%= hanghoa.state_id if hanghoa.state_id %></div>
    
      <div><label> Trọng lượng tịnh: </label><%= hanghoa.trongluongtinh %></div>
     
      <div><label> Cước chính: </label><%= hanghoa.cuocchinh %></div>
     
      <div><label> Cước phụ: </label><%= hanghoa.cuocphu %></div></div>

      <div><label> Tổng cước: </label><%= hanghoa.tongcuoc %></div>

<% end %>
<ul class="actions">
<li><%= link_to "Edit", [:edit, @vandon, @hanghoa],
class: "edit" %></li>

<li><%= link_to "Delete", [@vandon, @hanghoa], method: :delete,
data: { confirm: "Bạn có chắc chắn xóa không"},
class: "delete" %></li>
<li> <%= cancel_link %> </li>
</ul>
</div>
<header>

<h3> Ghi chú</h3>
</header>
<div id="comments">
<% if @hanghoa.comments.persisted.any? %>
<%= render @hanghoa.comments.persisted %>
<% else %>
<p>Không có ghi chú nào.</p>
<% end %>
</div>
<table>

<% if @hanghoa.state_id.present? %>

<tr>Trạng thái: 
<th> <%= @comment.state.name %></th>
<% end %>
</tr>
</table>
<% if policy(@comment).create? %>
<%= render "comments/form",  hanghoa: @hanghoa, comment: @comment %>
<% end %>