
<div class="row">
	
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		 <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <%= image_tag("cr1.jpg", :alt => "Bưu phẩm bưu kiện", :class =>"image-1") %> 
		    </div>

		    <div class="item">
		     <%= image_tag("cr2.jpg", :alt => "Bưu phẩm bưu kiện", :class =>"image-1") %> 
		    </div>

		    <div class="item">
		      <%= image_tag("cr3.jpg", :alt => "Bưu phẩm bưu kiện", :class =>"image-1") %> 
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Trước</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Sau</span>
		  </a>
		</div>
</div>
<div class="row">
    <div class="col-md-6">
      <h3 class="text-center">TIN TỨC</h3>

      <%= image_tag("tintuc.jpg",:alt => "rss feed", :style => "width: 100%; padding-bottom:10px") %>
         <%= link_to "Họp mặt truyền thống cán bộ bưu điện- viễn thông các tỉnh khu vực Tây Nam bộ", nhanvien_application_index_path %>
      <p>Kỷ niệm 72 năm Ngày truyền thống ngành Bưu điện và 70 năm Ngày thành lập Công đoàn ngành Thông tin và Truyền thông Việt Nam, ngày 20/8/2017, Viễn thông Vĩnh Long và Bưu điện tỉnh Vĩnh Long tổ chức họp mặt truyền thống cán bộ bưu điện- viễn thông các tỉnh khu vực Tây Nam bộ (T3) lần thứ X năm 2017.</p>
    </div>
    <div class="col-md-6">
    <h3> SỰ KIỆN</h3>
      <div class="row">
          <div class="col-md-4">
         <%= image_tag("tintuc1.jpg",:alt => "rss feed", :style => "width: 100%; padding-bottom:10px") %></div>
         <div class="col-md-8">
          <%= link_to "Cùng với chủ đề “Hãy tưởng tượng bạn là một lá thư du hành xuyên thời gian.", nhanvien_application_index_path %>
           
         </div>
      </div>
      <div class="row">
          <div class="col-md-4">
       
       <%= image_tag("tintuc2.jpg",:alt => "rss feed", :style => "width: 100%; padding-bottom:10px") %></div>
            <div class="col-md-8">
            <%= link_to " Công bố chủ đề cuộc thi viết thư quốc tế UPU lần thứ 47 (2018)", nhanvien_application_index_path %>
           
             
            </div>
      </div>
         <div class="row">
          <div class="col-md-4">
       
       <%= image_tag("tintuc3.jpg",:alt => "rss feed", :style => "width: 100%; padding-bottom:10px") %></div>
            <div class="col-md-8">
            <%= link_to " Trao đổi của Ban giám khảo về chủ đề Cuộc thi viết thư UPU 47", nhanvien_application_index_path %>
             
            </div>
      </div>
    </div>
  
</div>