
<head>
  <title>Table</title>
</head>
<header>
<h1>Table</h1>
<ul class="actions">
<% admins_only do %>
<ul class="actions">
<li>
<%= link_to "Thêm mới", new_admin_table_path, class: "new" %>
</li>
</ul>
<% end %>
</ul>
</header>
<div>
<table class="table-responsive"">
  <thead>
    <tr>
      <th>Table</th>
      <th>Mô tả </th>
      <th> Hành động </th>
    </tr>
  </thead>
  <tbody>
<% @tables.each do |table| %>
<tr>
<td><%= link_to table.name, table %></td>
<td><%= table.mota %></p></td>
<td>
<%= link_to t('.show', :default => t("helpers.links.show")),
                      table_path(table), class: "show" %></td>
<td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_table_path(table), class: "edit" %></td>


<% admins_only do %>

<td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      table_path(table), class: "delete" %></td>
<% end %>

</tr>
<% end %>
</tbody>
</table>
</div>
