
<head>
  <title>Bảng mức cước</title>
</head>
<header>
<h1>Bảng mức cước</h1>

<% admins_only do %>

<%= link_to "Thêm mới", new_admin_cuoccpn_path, class: "new" %>

<% end %>

</header>
<div >
<table class="table table-hover"  >
  <thead>
    <tr>
      <th>Dịch vụ</th>
      <th>Nấc khối lượng</th>
      <th> Vùng</th>
      <th> Mức cước</th>
     
    </tr>
  </thead>
  <tbody>
<% @cuoccpns.each do |cuoccpn| %>
<tr>
<td class="col-md-2"><%= cuoccpn.dichvu.tendv %></td>
<td class="col-md-1"><%=  cuoccpn.nackhoiluong.tennkl %></td>
<td class="col-md-1"><%= cuoccpn.vung.tenvung%></td>
<td class="col-md-1"><%= cuoccpn.muccuoc %></td>
<td class="col-md-1">
<%= link_to "Xem", cuoccpn_path(cuoccpn), class: "show" %></td>

<td class="col-md-1"><%= link_to "Sửa", edit_cuoccpn_path(cuoccpn), class: "edit" %></td>

<td class="col-md-1">
<% admins_only do %>

<%= link_to "Xóa", admin_cuoccpn_path(cuoccpn),method: :delete,data: { confirm: "Bạn có chắc chắn muốn xóa không?" },class: "delete" %>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
</div>
