
<header>


<h1>Mã vận đơn: <%= @vandon.id %></h1>

<table id="attributes">
<tr>
<th>Người lập:</th>
<td> <%= @vandon.nguoilap.email %> </td>
</tr>
<tr>
<th>Created:</th>
<td><%= @vandon.created_at %> </td>
</tr>
</table>
<ul class="actions">
<li><%= link_to "Edit", edit_vandon_path(@vandon),
class: "edit" %></li>

<li><%= link_to "Delete", vandon_path(@vandon),method: :delete,data: { confirm: "Are you sure you want to delete this table?" },class: "delete" %></li>
<li><%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vandons_path, class: "cancel" %></li>
</ul>
</header>
<header>
<h2>Hàng hóa</h2>
<ul class="actions">
<li><%= link_to "Thêm mới hàng hóa", new_vandon_hanghoa_path(@vandon), class: "new" %></li>
</ul>
</header>

<div>
<table class="table-responsive"">
  <thead>
    <tr>
      <th>Hàng hóa</th>
      <th>Trọng lượng quy đổi </th> 
       <th>Cước chính </th>
         <th>Cước phụ</th>
          <th>Tổng cước</th>
      <th> </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @vandon.hanghoas.each do |hanghoa| %>
<tr>
<td><%= link_to hanghoa.id, [@vandon, hanghoa] %></td>
<td><%= hanghoa.trongluongtinh %></td>
<td><%= hanghoa.cuocchinh %></td>
<td><%= hanghoa.cuocphu %></td>
<td><%= hanghoa.tongcuoc %></td>
<td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vandon_hanghoa_path(hanghoa), class: "edit" %></td>


<td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vandon_hanghoa_path(hanghoa), class: "delete" %></td>

</tr>
<% end %>
</tbody>
</table>
</div>

<header>
<h2>Khách hàng</h2>
<ul class="actions">
<li><%= link_to "Tạo khách hàng", new_vandon_khachhang_path(@vandon), class: "new" %></li>
</ul>
</header>

<div>

<table class="table-responsive"">
  <thead>
    <tr>
      <th>Khách hàng</th>
       <th>SĐT </th>
      <th> Địa chỉ</th>
      <th>Quận huyên</th>
      <th>Thành phố</th>
       <th> </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @vandon.khachhangs.each do |khachhang| %>
<tr>
<td><%= link_to khachhang.hotenkh, [@vandon, khachhang] %></td>
<td><%= khachhang.sodt %></td>
<td><%= khachhang.address %></td>
<td><%= khachhang.sub_state %></td>
<td><%= khachhang.province %></td>
<td><%= link_to "Edit", [:edit, @vandon, @khachhang],
class: "edit" %></li></td>

<td>
<% admins_only do %>
<td><%= link_to "Delete", [@vandon, @khachhang], method: :delete,
data: { confirm: "Bạn có chắc chắn xóa không"},
class: "delete" %></td>
                      <% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
<header>
<h2>Người nhận</h2>
<ul class="actions">
<li><%= link_to "Tạo người nhận", new_vandon_nguoinhan_path(@vandon), class: "new" %></li>
</ul>
</header>

<div>

<table class="table-responsive"">
  <thead>
    <tr>
      <th>Người nhận</th>
       <th>SĐT </th>
      <th> Địa chỉ</th>
      <th>Quận huyên</th>
      <th>Thành phố</th>
       <th> </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @vandon.nguoinhans.each do |nguoinhan| %>
<tr>
<td><%= link_to nguoinhan.hotennn, [@vandon, nguoinhan] %></td>
<td><%= nguoinhan.sodtnn %></td>
<td><%= nguoinhan.address %></td>
<td><%= nguoinhan.sub_state %></td>
<td><%= nguoinhan.province %></td>
<td><%= link_to "Edit", [:edit, @vandon, @nguoinhan],
class: "edit" %></li></td>

<td>
<% admins_only do %>
<td><%= link_to "Delete", [@vandon, @nguoinhan], method: :delete,
dât: { confirm: "Bạn có chắc chắn xóa không"},
class: "delete" %></td>
                      <% end %>
</td>
</tr>
<% end %>
</tbody>
</table>