<header>
<h1><%= @user %></h1>
<ul class="actions">
<li>
<%= link_to "Chỉnh sửa ", [:edit, :admin, @user], class: "edit" %>
</li>
<li>
<%= link_to "Vô hiệu hóa", [:archive, :admin, @user], method: :patch,
data: { confirm: "Bạn có chắc chắn muốn vô hiệu hóa người dùng này không?"},
class: "delete" %>
</li>
</ul>
</header>
<header>
<h2>Phân quyền</h2>
</header>
<% if @user.roles.any? %>
<ul>
<% @user.roles.each do |role| %>
<li><%= role.table.name %>: <%= role.role.titleize %></li>
<% end %>
</ul>
<% else %>
<p>Không có quyền nào.</p>
<% end %>

