
<head>
  <title>Vùng</title>
</head>

<div class="row">
  <div class="col-md-8"><h1 class="text-center" style="margin: 0px; padding-top: 20px">Vùng</h1></div>
  <div class="col-md-4" style="padding-top: 20px"><%= link_to "Thêm mới", new_admin_vung_path, class: "new" %></div>
</div>
<div>
<div>
<table id="mytable" class="table table-bordred table-striped">
  <thead>
    <tr>
      <th>Vùng</th>
      
      <th> </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @vungs.each do |vung| %>
<tr>
<td><%= link_to vung.tenvung, vung %></td>

<td>
<%= link_to t('.show', :default => t("helpers.links.show")),
                      vung_path(vung), class: "show" %></td>
<td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vung_path(vung), class: "edit" %></td>

<td>
<% admins_only do %>

<td><%= link_to "Xóa", admin_vung_path(vung),method: :delete,data: { confirm: "Bạn có chắc chắn muốn xóa không?" },class: "delete" %></td>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
</div>
