
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin- VNPOST</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> 

</head>

<body id="one">

    <div id="wrapp" style="background-color:   #ffcc00">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"<%= link_to "Admin", admin_root_path %></a>

            </div>
            <!-- /.navbar-header -->

            

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side">
                   
                            <!-- /input-group -->
                     

                        <li>
                            <%= link_to   admin_dashboards_path do %>
                              <i class="fa fa-bar-chart" style="padding-left: 10px; padding-right: 10px"> </i> 
                              
                              THÔNG KÊ
                                <% end %>
                             </a>
                            
                        </li> 
                        <li>
                             <a <%= link_to "Quản lí vận đơn", admin_vandons_path %></a>
                        </li>
                         <li>
                             <a <%= link_to "Quản lí tỉnh", tinhs_path %></a>
                        </li>
                          </li> 
                        <li>
                            <a <%= link_to "Quản lí người dùng", admin_users_path %> </a>
                           <!--  <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Chát</a>
                                </li>
                                <li>
                                    <a href="mói.html">Mói.js Chát</a>
                                </li>
                            </ul> -->
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a <%= link_to "Định mức cước", cuoccpns_path %></a>
                        </li>
                        <li>
                            <a <%= link_to "Định mức phí thu hộ", mucphithuhos_path %></a>
                        </li>
                        <li>
                           <a <%= link_to "Nấc khối lượng", nackhoiluongs_path %></a>
                        </li>
                         <li>
                           <a <%= link_to "Dịch vụ cộng thêm", dichvucongthems_path %></a>
                        </li>
                         <li>
                           <a <%= link_to "Trạng thái", states_path %></a>
                        </li>
                       <!--  <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                       <!--  </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                <!-- </li>
                            </ul> --> 
                            <!-- /.nav-second-level -->
                      <!--   </li> --> 
                        <li class="active">
                            
                           
                                <li>
                                    <%= link_to "Đăng xuất", destroy_user_session_path,
        method: :delete %>
        
                                </li>

                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
           <div class="container" id="contain">
            <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
            <%= message %>
        </div>
        <% end %>
        <%= yield %>
        </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
<!--  <%= javascript_include_tag 'sb-admin-2.min', 'data-turbolinks-track': 'reload' %> 
 -->
</body>

</html>

