
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin- VNPOST</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> 

</head>

<body id="one">

    <div id="wrapp" style="background-color:   #ffcc00">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="font-size: 20px; padding-left: 20px;padding-top: 10px">
                <%= link_to "Admin", admin_root_path %>
                </div>
            </div>
            <!-- /.navbar-header -->

            

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side">
                   
                            <!-- /input-group -->
                     

                        <li>
                            <%= active_link_to   admin_dashboards_path do %>
                              <i class="fa fa-bar-chart" style="padding-left: 10px; padding-right: 10px"> </i> 
                              
                              THÔNG KÊ
                                <% end %>
                             </a>
                            
                        </li> 
                        <li>
                          <%= active_link_to "Quản lí vận đơn", admin_vandons_path %>
                        </li>
                         <li>
                              <%= active_link_to "Quản lí tỉnh", admin_tinhs_path %>
                        </li>
                          </li> 
                        <li>
                             <%= active_link_to "Quản lí người dùng", admin_users_path %> 
                   
                        </li>
                        <li>
                           <%= active_link_to "Định mức cước", cuoccpns_path %>
                        </li>
                        <li>
                            <%= active_link_to "Định mức phí thu hộ", admin_mucphithuhos_path %>
                        </li>
                        <li>
                            <%= active_link_to "Nấc khối lượng", admin_nackhoiluongs_path %>
                        </li>
                         <li>
                            <%= active_link_to "Dịch vụ cộng thêm", dichvucongthems_path %>
                        </li>
                         <li>
                            <%= active_link_to "Dịch vụ ", dichvus_path %>
                        </li>
                        <li>
                            <%= active_link_to "Vùng", vungs_path %>
                        </li>
                         <li>
                          <%= active_link_to "Trạng thái", states_path %>
                        </li>
                      
                        <li class="active">
                            
                           
                                <li>
                                    <%= link_to "Đăng xuất", destroy_user_session_path,
        method: :delete %>
        
                                </li>

                            <!-- /.nav-second-level
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
       
            <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
            <%= message %>
        </div>
        <% end %>
        <%= yield %>
       
        </div>
        <!-- /#page-wrapper -->

    </div>
 
</body>

</html>

