
<!DOCTYPE html>
<html>
  <head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
  <% if content_for?(:title) %>
  <%= yield(:title) %>
  <% else %>
  VNPost
  <% end %>
</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style><% State.all.each do |state| %>.state-<%= state.name.parameterize %> {
background-color: <%= state.color %>;
}
<% end %>

</style>

  </head>
 <body >
 <div class="container">
  <nav class="navbar navbar-default " role="navigation" >
  <div class="row">
    <!-- <div logo-wrapper col-sm-7 col-xs-12 col-left> -->
      <!-- <a <img src="/images/Banne.jpg" alt="rss feed"/> -->
      <%= image_tag("banne.jpg",:alt => "rss feed") %>
    <!-- </div> -->
    
  </div>

  <div class="navbar-header" >
    <%= link_to "Trang chủ", root_path, class: "navbar-brand" %>
    <button type="button" class="navbar-toggle collapsed"
    data-toggle="collapse" data-target="#collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
  </div>


  <div class="collapse navbar-collapse " id="collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Bưu chính chuyển phát",  bccps_index_path %></li>
      <li> <%= link_to "Tài chính bưu chính",  bccps_index_path %> </li>
    
      <% admins_only do %>

      <li>
      <%= link_to "Admin", admin_root_path %>
      </li>
      <% end %> 
      <% nhanviens_only do %>

      <li>
      <%= link_to "Nhân viên", nhanvien_application_index_path %>
      </li>
      <% end %>

      <% unless user_signed_in? %>
      <li class="<%= "active" if current_page?("/users/sign_up") %>">
      <%= link_to "Đăng ký", new_user_registration_path %>
      </li>
      <li class="<%= "active" if current_page?("/users/sign_in") %>">
      <%= link_to "Đăng nhập", new_user_session_path %>
      </li>
      <% end %>

      <% if user_signed_in? %>
        <div class="navbar-right">
          <p class="navbar-text">
          Signed in as <%= current_user.email %>
          </p>
          <ul class="nav navbar-nav">
          <li><%= link_to "Đăng xuất", destroy_user_session_path,
          method: :delete %>
          </li>

          </ul>
        </div>
      <% end %>
  

</ul>

    <div class="navbar-right col-md-4" style="padding-top: 10px">
    <%= form_tag(search_search_path, :method => "get", id: "search-form") do %>
      <ul class="nav navbar-nav"> 
      <li>
      <div class="input-group">
    <%= text_field_tag :searchs, params[:searchs], placeholder: "Nhập mã vận đơn", class: 'form-control' %>

      <div class="input-group-btn">
       
     <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
  <span class="glyphicon glyphicon-search"></span> 
<% end %>
    </div>

    </li>
    </ul>
     <% end %> 
    </div>
  
    </div>

</nav>


<% flash.each do |key, message| %>
<div class="alert alert-<%= key %>">
<%= message %>
</div>
<% end %>
<%= yield %>
</body>

</div>
<footer >
<div class="row" style="background: #ffc61a ">
<div class="col-md-4">
  <label> Bưu chính chuyển phát</label>
  
  <ul>
    <li> <span>Vận chuyển hàng nặng quốc tế</span></li>
    <li> <span>Chuyển phát nhanh EMS </span></li>
    <li> <span>Bưu phẩm đảm bảo</span></li>
  </ul>
    
  </div>
  <div class="col-md-4">
    <label> Tài chính bưu chính</label>
    
    <ul>
      <li> <span>Thu hộ- chi hộ</span></li>
      <li> <span>Chuyển phát nhanh EMS </span></li>
      <li> <span>Dịch vụ chuyển tiền trong nước</span></li>
    </ul>
    
  </div>
  <div class="col-md-4">
    <label> Phân phối truyền thông</label>
    <ul>
      <li> <span>Dịch vụ phân phối hàng hóa</span></li>
      <li> <span>Truyền thông, quảng cáo </span></li>
      <li> <span>Dịch vụ Viễn thông- CNTT</span></li>

    </ul>
  </div>

</div>

<div class="row " style="background: blue">
  <div class="col-md-7" style="padding-left: 40px">
 <p> 
        - Bưu điện Vĩnh Long
 <br>
        - Địa chỉ: Số 14 Hoàng Thái Hiếu, Phường 1, Tp. Vĩnh Long, Vĩnh Long
 <br>
        - Điện thoại: 0270 3823 320
 </p>
</div>
<div class="col-md-5">
  
</div>
</div>
</footer>
  

  
</html>

