
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Nhân viên- VNPOST</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
      

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> 


    <div id="wrapp" style="background-color:   #ffcc00">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"<%= link_to "NHÂN VIÊN", nhanvien_application_index_path %></a>

            </div>
            <!-- /.navbar-header -->

            

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side">
                   
                            <!-- /input-group -->
                     

                        <li class="<%= "active" if current_page?("/nhanvien/reports") %>">
                            <%= link_to   nhanvien_reports_path do %>
                              <i class="fa fa-bar-chart" style="padding-left: 10px; padding-right: 10px"> </i> 
                              
                              THÔNG KÊ
                                <% end %>
                           
                            
                        </li> 
                        <li class="<%= "active" if current_page?("/nhanvien/vandons") %>">
                             <%= link_to "Quản lí vận đơn", nhanvien_vandons_path %>
                        </li>
                        <li class="<%= "active" if current_page?("/nhanvien/taovandons") %>">
                              <%= link_to "Vận đơn chờ duyệt", nhanvien_taovandons_path %>
                        </li>
                      <!-- 
                        <button class="dropbtn" onclick="myFunction()">
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                              -->

                    
                        <li class="active">
                            
                           
                                <li>
                                    <%= link_to "Đăng xuất", destroy_user_session_path,  method: :delete %>
        
                                </li>

                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
           
            <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
            <%= message %>
        </div>
        <% end %>
        <%= yield %>
                </div>
        <!-- /#page-wrapper -->

  



</html>


<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>