
<head>
  <title>Loai hang</title>
</head>
<header>
<h1>Loại hàng</h1>
<ul class="actions">
<% admins_only do %>
<ul class="actions">
<li>
<%= link_to "Thêm mới", new_admin_loaihang_path, class: "new" %>
</li>
</ul>
<% end %>
</ul>
</header>
<div>
<table class="table-responsive"">
  <thead>
    <tr>
      <th>Loại hàng</th>
      <th>Mô tả </th>
      <th> Hành động </th>
    </tr>
  </thead>
  <tbody>
<% @loaihangs.each do |loaihang| %>
<tr>
<td><%= link_to loaihang.tenlh, loaihang %></td>
<td><%= loaihang.mota %></p></td>
<td>
<%= link_to t('.show', :default => t("helpers.links.show")),
                      loaihang_path(loaihang), class: "show" %></td>
<td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_loaihang_path(loaihang), class: "edit" %></td>


<% admins_only do %>

<li><%= link_to "Delete", admin_loaihang_path(@loaihang),method: :delete,data: { confirm: "Are you sure you want to delete this loaihang?" },class: "delete" %></li>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
</div>
