<head>
  <title>Trạng thái</title>
</head>
<header>
<h1> Trạng thái</h1>
<ul class="actions">
<% admins_only do %>
<ul class="actions">
<li>
<%= link_to "Thêm mới", new_admin_state_path, class: "new" %>
</li>
</ul>
<% end %>
</ul>
</header>
<div>
<table class="table-responsive"">
  <thead>
    <tr>
      <th>Trạng thái</th>
     
      <th>Tên trạng thái</th>
      <th>Màu </th>
      <th> </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @states.each do |state| %>
<tr>
<td><%= link_to state.id, state %></td>
<td><%= state.name %></td>

<td><%= state.color %></td>

<td>
<%= link_to t('.show', :default => t("helpers.links.show")),
                      state_path(state), class: "show" %></td>
<td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_state_path(state), class: "edit" %></td>

<td>
<% admins_only do %>

<td><%= link_to "Xóa", admin_state_path(state),method: :delete,data: { confirm: "Bạn có chắc chắn muốn xóa không?" },class: "delete" %></td>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
</div>
