
<h1 style="margin: 0px; padding-top: 20px"><%= @vandon.id %></h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Người nhận</th>
       <th>SĐT </th>
      <th> Địa chỉ</th>
      <th>Quận huyên</th>
      <th>Thành phố</th>
       <th> </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @vandon.nguoinhans.each do |nguoinhan| %>
<tr>
<td><%= link_to nguoinhan.hotennn, [@vandon, nguoinhan] %></td>
<td><%= nguoinhan.sodtnn %></td>
<td><%= nguoinhan.address %></td>
<td><%= nguoinhan.sub_state %></td>
<td><%= nguoinhan.province %></td>

<td><%= link_to "Edit", [:edit, :admin,@vandon, @nguoinhan],
class: "edit" %></td>

<td>
<% admins_only do %>
<%= link_to "Delete", [:admin,@vandon, @nguoinhan], method: :delete,
data: { confirm: "Bạn có chắc chắn xóa không"},
class: "delete" %>
                      <% end %></td>
  <td> <%= cancel_link  %> </td>

</tr>
<% end %>
</tbody>
</table>

