<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
<header>

</header>
<div>
<label>Họ tên khách hàng</label>
<%= @taovandon.hotenkh %></div>

<div><label>Địa chỉ</label>
<%= @taovandon.diachi %></div>
<div><label>Số điện thoại</label><%= @taovandon.sdt%></div>
<div><label>Khối lượng</label><%= @taovandon.khoiluong%></div>
<div><label>Trạng thái</label><%= @taovandon.trangthai%></div>

<ul>
<li><%= link_to "Chỉnh sửa", edit_nhanvien_taovandon_path(@taovandon),
class: "edit" %></li>

<li><%= link_to "Xóa", nhanvien_taovandon_path(@taovandon),method: :delete,data: { confirm: "Bạn có chắc chắn muốn xóa không?" },class: "delete" %></li>
<li><%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nhanvien_taovandons_path, class: "cancel" %></li>

</ul>

