<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
<div style="padding-top: 20px" ><h1 class="text-center" >THÔNG TIN VẬN ĐƠN </h1></div>
<div >
<div class="row ">
	<div class="col-md-3 col-md-offset-4 vd" style="background-color: "><label>Họ tên khách hàng</label>
	</div>
	<div class="col-md- 4 col-md-offset-5 vd">   <%= @taovandon.hotenkh %></div>
</div>
<div class="row ">
	<div class="col-md-3 col-md-offset-4 vd" style="background-color: "><label>Địa chỉ</label>
	</div>
	<div class="col-md- 4 col-md-offset-5 vd "> <%= @taovandon.diachi %></div>
</div>
<div class="row ">
	<div class="col-md-3 col-md-offset-4 vd " style="background-color: "><label>Số điện thoại</label>
	</div>
	<div class="col-md- 4 col-md-offset-5 vd ">  <%= @taovandon.sdt%></div>
</div>
<div class="row ">
	<div class="col-md-3 col-md-offset-4 vd " style="background-color: "><label>Khối lượng</label>
	</div>
	<div class="col-md- 4 col-md-offset-5 vd "> <%= @taovandon.khoiluong%></div>
</div>
<div class="row ">
	<div class="col-md-3 col-md-offset-4 vd " style="background-color: "><label>Trạng thái vận đơn</label>
	</div>
	<div class="col-md- 4 col-md-offset-5 vd " style="color: #0000ff"> <%= @taovandon.trangthai%></div>
</div>

   
<div class="col-md-4 col-md-offset-4">
<ul>
<li><%= link_to "Chỉnh sửa", edit_nhanvien_taovandon_path(@taovandon),
class: "edit" %></li>

<li><%= link_to "Xóa", nhanvien_taovandon_path(@taovandon),method: :delete,data: { confirm: "Bạn có chắc chắn muốn xóa không?" },class: "delete" %></li>
<li><%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nhanvien_taovandons_path, class: "cancel" %></li>

</ul>
</div>
</div>

