<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
<h1 style="padding-top: 20px; margin: 0px">Mã vận đơn: <%= @vandon.id %></h1>
<li><%= link_to "In vận đơn",  print_admin_vandon_path(@vandon) , class: 'btn btn-success' %></li>
<!-- <li></li>
<li><%= link_to "Chỉnh sửa", edit_admin_vandon_path(@vandon),
class: "edit" %></li> -->

<!-- <li><%= link_to "Xóa", admin_vandon_path(@vandon),method: :delete,data: { confirm: "Are you sure you want to delete this table?" },class: "delete" %></li> -->
<li><%= link_to "Trở về",
                admin_vandons_path, class: "cancel" %></li>

<table id="attributes">
<tr>
<th>Người lập:</th>
<td> <%= @vandon.nguoilap.hoten %> </td>
</tr>
<tr>
<th>Ngày lập:</th>
<td><%= @vandon.created_at.strftime(' %d/%m/%Y %H:%M:%S')  %> </td>
</tr>

</table>


<div class= "row"> 
 <div class ="col-md-4">
         <div class="panel panel-info">
         <div class="panel-heading"> <strong>1. Thông tin người nhận</strong></div>
         <div class="panel-body">
                <% if   @vandon.nguoinhans.blank? %>
                <div><%= link_to "Tạo người nhận", new_admin_vandon_nguoinhan_path(@vandon), class: "new" %></div>
                <% end %>

                <% @vandon.nguoinhans.each do |nguoinhan| %>
                <div class="row ">
                            <div class="col-md-6">
                            <label>Họ tên người nhận:</label></div>
                            <div class="col-md-6" style="text-align: right;">
                          <%= link_to nguoinhan.hotennn, [:admin,@vandon, nguoinhan] %></div>
                      </div>
                 <div class="row ">
                                  <div class="col-md-6">
                                  <label>SĐT: </label></div>
                                  <div class="col-md-6" style="text-align: right;">
                                 <%= nguoinhan.sodtnn %></div>
                            </div>
                 <div class="row ">
                                        <div class="col-md-6">
                                        <label>Địa chỉ: </label></div>
                                        <div class="col-md-6" style="text-align: right;">
                                     <%= nguoinhan.address %></div>
                                  </div>
                             
                  <div class="row ">
                                        <div class="col-md-6">
                                        <label>Quận, huyện- Tỉnh: </label></div>
                                        <div class="col-md-6" style="text-align: right;">
                                   <%= nguoinhan.sub_state %><%= nguoinhan.province %>
                                  </div>
                    </div>
                <% end %>
           </div>
               
                 
                  
          </div>
  </div>

 
  <div class ="col-md-4">
           <div class="panel panel-info">
                 <div class="panel-heading">
                      <strong>2. Thông tin khách hàng</strong></div>
                <div class="panel-body">
                  
                <!--       <% if @vandon.khachhangs.blank? %>
                      <%= link_to "Tạo khách hàng", new_admin_vandon_khachhang_path(@vandon), class: "new" %>
                      <% end %>
                -->

                      <% @vandon.khachhangs.each do |khachhang| %>
                      <div class="row ">
                            <div class="col-md-6">
                            <label>Họ tên KH:</label></div>
                            <div class="col-md-6" style="text-align: right;">
                            <%= link_to khachhang.hotenkh, [:admin,@vandon, khachhang] %></div>
                      </div>
                      <div class="row ">
                            <div class="col-md-6">
                            <label>Số điện thoại: </label></div>
                            <div class="col-md-6" style="text-align: right;">
                            <%= khachhang.sodt %></div>
                      </div>
                      <div class="row ">
                            <div class="col-md-6">
                            <label>Địa chỉ: </label></div>
                            <div class="col-md-6" style="text-align: right;">
                            <%= khachhang.address %></div>
                      </div>
          
                <% end %>
                  </div>
                   
            </div>
</div>


            <div class="col-md-4">
                      <div class="panel panel-info">
                            <div class="panel-heading">
                        <strong>3. Thông tin hàng hóa </strong></div>
                             <div class="panel-body">
                        
                   <!--            <% if @vandon.hanghoas.blank? %> 
                              <%= link_to "Thêm mới hàng hóa", new_admin_vandon_hanghoa_path(@vandon), class: "new" %>
                              <% end %> 
                              -->
                             
                                <% @vandon.hanghoas.each do |hanghoa| %>
                                <div class="row" >
                                      <div class="col-md-6 " ><label> Id: </label></div>
                                      <div class="col-md-6 " style="text-align: right"><%= link_to hanghoa.id, [:admin,@vandon, hanghoa] %></div>
                                </div>

                                <div class="row">
                                       <div class="col-md-6"><label> Trạng thái: </label></div>
                                        <div class="col-md-6 " style="text-align: right"  >
                                <%= hanghoa.state.name if hanghoa.state_id %></div>
                              </div>
                                <div class="row"><div class="col-md-6" ><label> Trọng lượng tịnh: </label></div>
                                <div class="col-md-6" style="text-align: right;">
                                <%= hanghoa.trongluongtinh %> gram</div>
                                </div>
                               
                                <div class="row"> <div class="col-md-6" ><label> Cước chính: </label></div>
                                <div class="col-md-6" style="text-align: right;">
                                <%= hanghoa.cuocchinh %> đồng</div>
                                </div>
                               
                                <div class="row"><div class="col-md-6"><label> Cước phụ: </label></div>
                                <div class="col-md-6" style="text-align: right">
                                <%= hanghoa.cuocphu %> đồng</div>
                                </div>


                                <div class="row"><div class="col-md-6" ><label> Tổng cước: </label></div>
                                <div class="col-md-6" style="text-align: right; color: #0000ff">
                                <%= hanghoa.tongcuoc %> đồng</div>
                                </div>
                                  <% end %> 
                             
                               </div>
                      </div>
          </div>
</div>
