
<%= simple_form_for([:admin,vandon, hanghoa]) do |f| %>

 <% if hanghoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hanghoa.errors.count, "error") %> prohibited this hanghoa from being saved:</h2>

      <ul>
      <% hanghoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div  class="row"> 

 <div class ="col-md-4">
 <div class="panel panel-primary">
    <div class="panel-heading">1. Thông tin hàng hóa</div>
    <div class="panel-body">
    	<div>
 			<%= f.input :trongluongtinh,label:"Trọng lượng tịnh" %>
		</div>
	
				<%= f.label :thêm_thể_tích_hàng %>
				  <%= f.check_box :trongluongquydoi, label: "Thêm thẻ tích hàng"%>
				  <div id="card_details" style="display:none;">
				   <%= f.input :chieucao, label:"Chiều cao" %>
				   <%= f.input :chieudai, label:"Chiều dài" %>
				   <%= f.input :chieurong, label:"Chiều rộng" %>
		  			</div>
	
    </div>
  </div>
 
 		
 		<!-- <div >
 			<%= f.input :chieucao, label:"Chiều cao" %></div>
				
 		<div >
 	<%= f.input :chieucao, label:"Chiều cao" %></div>
 		<div >
 			<%= f.input :chieurong, label:"Chiều rộng" %></div> -->
	</div>	

		
 <div class ="col-md-4">
 <div class="panel panel-primary">
    <div class="panel-heading">2. Thông tin dịch vụ</div>
    <div class="panel-body">
		<div class="row">
		

			<div class="col-lg-12 col-md-12">
				<%= f.input :dichvu_id, label:false  do %>
				<%= f.collection_select :dichvu_id,Dichvu.all,:id,:tendv, {:prompt=> "---Dịch vụ---"} %>
				<% end %>
	 		</div>
	 	
 			<%= f.label :name, label:"Thu hộ (COD)" %>
				  <%= f.check_box :thuho %>
				  <div id="thuho" style="display:none;">
				   <%= f.input :tienthuho, label:false %>
				   
		  			</div>	
			
			<p class="m-t-md m-b-md">
					<strong>3. Dịch vụ cộng thêm</strong>
			</p>
			<div class="col-md-12 m-t-md m-b-md">
			<%= f.input :dichvucongthem_id  ,label:false do %>
			<%= f.collection_select :dichvucongthem_id,Dichvucongthem.all,:id,:tendvct, {:prompt=> "---Dịch vụ cộng thêm---"} %>
			<% end %>
				
			
			<p  class="m-t-md m-b-md">
	 			<strong>4. Mô tả chi tiết</strong>
	 		</p>
			<div class="col-md-12 m-t-md m-b-md">
				<%= f.input :motachitiet , label:false %></div>
			<div class="col-md-12 m-t-md m-b-md">
				<%= f.association :state, label: "Trạng thái" ,:selected => params[:pid]%>
			</div>
			
			
		
	
			</div>
	</div>
	</div>
	</div>
	</div>
 <div class ="col-md-4">
	<div class="panel panel-primary">
    <div class="panel-heading">5. Cước phí</div>
    <div class="panel-body">

		<div class="col-md-12 m-t-md m-b-md">

			<%= f.input :cuocchinh, label: "Cước chính",:input_html => { :value => 0}  %>
		</div>
		<div class="col-md-12 m-t-md m-b-md">
			<%= f.input :cuocphu, label: "Cước phụ ",:input_html => { :value => 0}  %></div>
		<div class="col-md-12 m-t-md m-b-md">
			<%= f.input :cuocthuho, label: "Cước thu hộ ",:input_html => { :value => 0} %></div>
		<div class="col-md-12 m-t-md m-b-md">
			<%= f.input :tongcuoc, label: "Tổng cước" %></div>
</div>
		<div class="col-md-12 m-t-md m-b-md" style="padding-top: 20px"><%= f.button :submit, class: "btn-primary" %>
			<%= link_to "Hủy bỏ", [:admin,@vandon], method: :delete,
  data: { confirm: "Bạn có chắc chắn huy không"},class: "delete" %>


		</div>
		
				
		
	</div>
	
</div>



<% end %>
	

<script type="text/javascript">
	var nackhoiluong_id
	var vandon_id=<%= @vandon.id %>
	var cuocchinh
	var cuocphu
	$("#hanghoa_trongluongtinh").on('change', function(){
	    $.ajax({
	    	url: "/nackhoiluongs/get_id", 
	    	data:{
	    		trongluongtinh : $("#hanghoa_trongluongtinh").val()
	    	},
	    	success: function(data){ 

	        	nackhoiluong_id =data.id;
	    	},
	    	error: function (ajaxContext) {
		        alert(ajaxContext.responseText)
		    }
		});
	});

	$("#hanghoa_tienthuho").on('change', function(){
	    $.ajax({
	    	url: "/mucphithuhos/get_mucphi", 
	    	data:{
	    		tienthuho : $("#hanghoa_tienthuho").val()
	    	},
	    	success: function(data){ 
	    			$('#hanghoa_cuocthuho').val(data.id)
	        	
	    	},
	    	error: function (ajaxContext) {
		        alert(ajaxContext.responseText)
		    }
		});
	});


	$("#hanghoa_dichvu_id").on('change', function(){
	    $.ajax({
	    	url: "/dichvus/get_id", 
	    	data:{
	    		dichvu_id : $("#hanghoa_dichvu_id").val()
	    	},
	    	success: function(result){ 
	    		$.ajax({
			    	url: "/cuoccpns/getcuocphi", 
			    	data:{
			    		dichvu_id: result,
			    		nackhoiluong_id : nackhoiluong_id,
			    		vandon_id: vandon_id
			    		
			    	},
			    	success: function(data){ 
			    	
			        	$('#hanghoa_cuocchinh').val(data.id)
			        	$('#hanghoa_cuocchinh').trigger('change')
			    	},
			    	error: function (ajaxContext) {
				        alert(ajaxContext.responseText)
				    }
				});
	        
	    	},
	    	error: function (ajaxContext) {
		        alert(ajaxContext.responseText)
		    }
		});

		$("#hanghoa_cuocchinh").on('change', function(){
	    
	});

	});

	$("#hanghoa_dichvucongthem_id").on('change', function(){
	    $.ajax({
	    	url: "/dichvucongthems/get_id", 
	    	data:{
	    		dichvucongthem_id : $("#hanghoa_dichvucongthem_id").val()
	    	},
	    	success: function(result){ 
	    	
	        	$.ajax({
			    	url: "/dichvucongthems/get_muccuoc", 
			    	data:{
			    		dichvucongthem_id: result
			    	},
			    	success: function(data){ 
			    	
			        	$('#hanghoa_cuocphu').val(data.id)
			        	$('#hanghoa_cuocphu').trigger('change')


			    	},
			    	error: function (ajaxContext) {
				        alert(ajaxContext.responseText)
				    }
				});
	        
	    	},
	    	
	    	error: function (ajaxContext) {
		        alert(ajaxContext.responseText)
		    }
		});
	
	});



	$("#hanghoa_cuocphu").on('change', function(){
		$('#hanghoa_tongcuoc').val( parseInt($("#hanghoa_cuocphu").val()) + parseInt($("#hanghoa_cuocchinh").val())+ parseInt($("#hanghoa_cuocthuho").val()))
	    
	    });
	$("#hanghoa_chieurong").on('change', function(){
		$('#hanghoa_trongluongtinh').val( parseInt($("#hanghoa_chieurong").val()) * parseInt($("#hanghoa_chieucao").val())* parseInt($("#hanghoa_chieudai").val()) *1000/ 600 )
	    
	    });
	$("#hanghoa_cuocthuho").on('change', function(){
		$('#hanghoa_tongcuoc').val( parseInt($("#hanghoa_cuocphu").val()) + parseInt($("#hanghoa_cuocchinh").val()))
	    
	    });

	$("#hanghoa_cuocchinh").on('change', function(){

		$('#hanghoa_tongcuoc').val( parseInt($("#hanghoa_cuocphu").val()) + parseInt($("#hanghoa_cuocchinh").val()))
	
	});

	

  var checkbox = document.getElementById('hanghoa_trongluongquydoi');
  var details_div = document.getElementById('card_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
  var checkbox_th = document.getElementById('hanghoa_thuho');
  var thuho_div = document.getElementById('thuho');
  checkbox_th.onchange = function() {
     if(this.checked) {
       thuho_div.style['display'] = 'block';
     } else {
       thuho_div.style['display'] = 'none';
     }
  };


	
</script>
