
<div id="hanghoa">
<div>
<h1 style="margin: 0px; padding-top: 20px">Mã vận đơn:   <%= @vandon.id %></h1>

<ul class="actions">
<li><%= link_to "Edit", [:edit,:admin, @vandon, @hanghoa],
class: "edit" %></li>

<li><%= link_to "Delete", [@vandon, @hanghoa], method: :delete,
data: { confirm: "Bạn có chắc chắn xóa không"},
class: "delete" %></li>
<li> <%= cancel_link %> </li>
</ul>
</div>

      <% @vandon.hanghoas.each do |hanghoa| %>
      <div><label> Id: </label><%= link_to hanghoa.id, [@vandon, hanghoa] %></div>
	    <% if @hanghoa.state_id.present? %>

		<div><label>Trạng thái: </label>
		<%= @comment.state.name %></div>

	<% end %>
      <div><label> Trọng lượng tịnh: </label><%= hanghoa.trongluongtinh %></div>
     
      <div><label> Cước chính: </label><%= hanghoa.cuocchinh %></div>
     
      <div><label> Cước phụ: </label><%= hanghoa.cuocphu %></div>

      <div><label> Tổng cước: </label><%= hanghoa.tongcuoc %></div>

<% end %>

</div>


<% if policy(@comment).create? %>
<%= render "admin/comments/form",  hanghoa: @hanghoa, comment: @comment %>
<% end %>
<script type="text/javascript">
var hanghoa_id=<%= @hanghoa.id %>
		$("#comment_state_id").on('change', function(){
	    $.ajax({
	    	url: "/home/guiSMS", 
	    	data:{
	    		hanghoa_id : hanghoa_id,
	    		 state_id : $("#comment_state_id").val()
	    	},
	    	success: function(data){ 

	        	alert(data.id)
	    	},
	    	error: function (ajaxContext) {
		        alert(ajaxContext.responseText)
		    }
		});
	});
</script>