<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>


<%= simple_form_for(@taovandon) do |f| %>
<div class="row">
<div class="col-md-6"><%= f.input :hotenkh, label: "Họ tên khách hàng" %>
	<%= f.input :diachi, label: "Địa chỉ" %>
	<%= f.input :sdt, label: "Số điện thoại" %>
</div>
<div class="col-md-6">
			
<%= f.input :khoiluong, label: "Khối lượng hàng hóa (Tính bằng gram)" %>

<!-- 
<%= f.input :trangthai, label: "Trạng thái", default: "Chờ duyệt" %>  -->
<%= f.input :noinhan, label: "Nơi nhận hàng"  %>
</div>
</div>


<%= f.button :submit , class: "btn-primary" %>
<%= link_to "Hủy", root_path, class: "cancel" %>


<% end %>
